<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/resource/admin/css/style.css">
    <link rel="stylesheet" href="/resource/admin/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="/resource/admin/js/code.js"></script>
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="menu_admin">
                <h4><a href="/">ESSENCE</a></h4>
                <ul>
                    <li><a href="/admin/home"><i class="fa fa-home" aria-hidden="true"></i> Đơn hàng</a></li>
                    <li><a href="/admin/category"><i class="fa fa-cogs" aria-hidden="true"></i> Danh mục</a></li>
                    <li><a href="/admin/product"><i class="fa fa-wpexplorer" aria-hidden="true"></i> Sản phẩm</a></li>
                    <li><a href="/admin/blog"><i class="fa fa-file-text-o" aria-hidden="true"></i> Tin tức</a></li>
                    <li><a href="/admin/contact"><i class="fa fa-user-md" aria-hidden="true"></i> Người dùng</a></li>
                </ul>
            </div>
            <div class="close_menu">
                <p><i class="fa fa-caret-left" aria-hidden="true"></i></p>
            </div>
            <div class="nav_admin">
                <div class="nav_user">
                    <div class="user">
                        <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Trung Hieu</a>
                    </div>
                    <div class="log-out">
                        <a href="/admin/outLogin"><i class="fa fa-sign-out" aria-hidden="true"> Sign Out</i></a>
                    </div>
                </div>
            </div>